{% extends 'base.html' %} 
{% block content %}

<div class="container-fluid">
  <div class="d-flex justify-content-center mt-5">
    <div class="d-flex gap-3 flex-column">
      <h3>Contact Form</h3>
      <!-- Display error messages for the form -->
      {% if form_errors %}
      <div class="alert alert-danger" role="alert">
        <ul>
          {% for error in form_errors %}
          <li>{{ error }}</li>
          {% endfor %}
        </ul>
      </div>
      {% endif %}

      <!-- Display success message -->
      {% if successMessage %}
      <div class="alert alert-success" role="alert">{{ successMessage }}</div>
      {% endif %}

      <!-- Contact form -->
      <form method="post" class="row g-3">
        {% csrf_token %}
        <div class="col-md-6">
          <label for="name" class="form-label">Name</label>
          <input
            type="text"
            class="form-control"
            id="name"
            name="name"
            placeholder="Enter your full name"
            value="{{ name }}"
          />
        </div>
        <div class="col-md-6">
          <label for="email" class="form-label">Email</label>
          <input
            type="email"
            class="form-control"
            id="email"
            name="email"
            placeholder="Enter your email"
            value="{{ email }}"
          />
        </div>
        <div class="col-12">
          <label for="message" class="form-label">Message</label>
          <textarea
            class="form-control"
            id="message"
            name="message"
            placeholder="Write your message here"
            rows="4"
          >{{ message }}</textarea>
        </div>
        <div class="col-12">
          <button type="submit" class="btn btn-primary">Submit</button>
        </div>
      </form>
    </div>
  </div>
</div>

{% endblock content %}
