{% extends "base.html" %} {% block content %}

<div class="container my-5">
  <div class="row justify-content-center">
    <div class="col-lg-8">
      <div class="card shadow-sm">
        <div class="card-body">
          <h1 class="card-title">
            {{ post.title }}
            <span class="badge bg-primary ms-2 mb-2 fs-6">{{ post.category.name }}</span>
          </h1>
          <p class="card-subtitle text-muted mb-4">
            <i class="bi bi-calendar"></i> Posted on {{ post.createdAt | date:"b j, Y, g:i A" }}
          </p>
          <hr class="mb-5"></hr>
          <p class="card-text">{{ post.content }}</p>
        </div>
      </div>
    </div>
  </div>
</div>

{% endblock content %}
